{% extends "!layout.html" %}
{% block sidebartitle %}
{{ super() }}
<link rel="icon" href="_static/img/favicon.png" type="image/png">

<div class="vst-logo">
    <a href="https://docs.vostok.io/en/"></a>
</div>

<div class="vst-lang-switcher">
    <a class="lang" href="https://docs.vostok.io/">Русский</a>
    <span class="separator">|</span>
    <a class="lang" href="https://docs.vostok.io/en/">English</a>
</div>

<!--
<div class="doc-link">
    <a class="reference internal" href="https://docs.vostok.io/vostokdocs.pdf">Документация</a><span class="doc-link__label">.pdf</span>
</div>
-->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(54051694, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/54051694" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->

{% endblock %}
