{% extends "!layout.html" %}
{% block sidebartitle %}
{{ super() }}
<br>

<div style="position: relative; top: -50px">
    <a href="https://docs.vostok.io">
        <img style="height: unset; width: unset; border-radius: 0; padding: 0; margin: 0;" src="{{ pathto("_static/img/logo.png", 1) }}" width="288" height="56">    
    </a>
</div>

<div style="position: relative; top: 13px; color: black;">
<a class="lang" href="https://docs.vostok.io/">Russian</a> | 
<a class="lang" href="https://docs.vostok.io/en/">English</a>
</div>

{% endblock %}