{% extends "!layout.html" %}
{% block sidebartitle %}
{{ super() }}
<br>

<link rel="icon" href="_static/img/favicon.png" type="image/png">

<div style="position: relative; top: -50px">
    <a href="https://docs.vostok.io/">
        <img style="height: unset; width: unset; border-radius: 0; padding: 0; margin: 0;" src="{{ pathto("_static/img/logo.png", 1) }}" width="288" height="56">    
    </a>
</div>

<div style="position: relative; top: 13px; color: black;">
<a class="lang" href="https://docs.vostok.io/">Russian</a> | 
<a class="lang" href="https://docs.vostok.io/en/">English</a>
</div>
<div style="position: relative; top: 15px; color: blue;">
<a class="pdf" href="https://docs.vostok.io/vostokdocs.pdf">pdf-ru</a>
</div>>

{% endblock %}