*, *:before, *:after {
  box-sizing: border-box;
}

html, body, .page {
  padding: 0;
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: "GraphikLC";
  src: url("./fonts/Graphik-Regular-Web.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "GraphikLC";
  src: url("./fonts/Graphik-Medium-Web.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "GraphikLC";
  src: url("./fonts/Graphik-Bold-Web.woff2");
  font-weight: bold;
}

body {
  font-family: "GraphikLC", "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__inner {
  display: flex;
  width: 872px;
}

.page__link {
  width: 200px;
}

.content-area {
  display: flex;
  flex-direction: column;
  height: 286px;
  justify-content: space-between;
  padding-left: 104px;
}

.mascot__inner {
  width: 256px;
  height: 297px;
}

.text {
  color: rgba(10, 6, 6, 1);
  margin: 0;
  padding: 0;
}

.text--regular {
  font-size: 13px;
  line-height: 1.23;
}

.text--bold {
  font-size: 32px;
  font-weight: bold;
  color: rgba(10, 6, 6, 0.8);
}

.link {
  display: block;
  height: 48px;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  background: #081e58;
  color: #eeeeef;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  border-radius: 4px;
}
